*

body {



}

{
    box-sizing: border-box;
}

h2, h3, h5 {
    text-align: left;

}

input, select {
    display: block;
    margin: 0 auto;
}

ul { list-style: none; position: left; float: left; display: block; left: 10%; }

.Modal-backdrop
{
 position: left;
 top: 0px;
 left: 0px;
 height:100%;
 width:100%;
 background: #000;
 z-index: 1;
 opacity: 0.5;
}

.Modal-holder
{
  position: left;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;
}

.Modal-box
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: left;
}

@media screen and (min-width: 992px)
{
  .Modal-box
  {
    width: 30%;
    padding: 10px;
  }
}
